<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	 xmlns:jaxws="http://cxf.apache.org/jaxws"
	 xmlns:batch="http://www.springframework.org/schema/batch" 
     xsi:schemaLocation="
	     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		 http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	  	 http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	  	 http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

	<tx:annotation-driven />
    <context:annotation-config />
    <context:component-scan base-package="com.bbva.packws" />
    
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/APP_CONELE" />
		<property name="resourceRef" value="true" />
		<property name="lookupOnStartup" value="false" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.sql.DataSource" />
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
        <property name="configLocation" value="classpath:hibernate-config.xml" />
    </bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource" />
    </bean>
	
	<bean id="sessionFilter" class="com.everis.web.filter.SessionFilter" />
	
	<jaxws:endpoint id="solicitudSOAPImplEndPoint" implementor="#solicitudSOAPImpl" address="/Solicitud" />
	
    <!-- Begin: Batch Context -->
	    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
			<property name="transactionManager" ref="transactionManagerBatch" />
		</bean>
	 
		<bean id="transactionManagerBatch" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />
	 
		<bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
			<property name="jobRepository" ref="jobRepository" />
		</bean>
	 
		<bean class="org.springframework.batch.core.configuration.support.JobRegistryBeanPostProcessor">
			<property name="jobRegistry" ref="jobRegistry" />
		</bean>
	 
		<bean id="jobRegistry" class="org.springframework.batch.core.configuration.support.MapJobRegistry" />
    <!-- End: Batch Context -->
</beans>
